.package{

    h1{
        font-size: 20px;
    }

    &-warning{
        background: #fde9b0;
        border-width: 1px;
        border-color: #ffc21b;
        padding: 10px;

        h4{
            font-size: 14px;
        }

        p{
            font-size: 12px;
            margin-bottom: 0;
        }
    }
}